/* Variables */

:root {
    --main-bg-color: hsl(2, 0%, 15%);
    --accent-main-bright: #A0C8BF;
    --accent-main-dark: #188177;
    
    --primary-header-font: 'Overpass', sans-serif;
}


/* General Defaults */

html {
    scroll-behavior: smooth;
}

html > body {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    min-width: 200px;
    min-height: 100svh;
    padding-top: 48px; /*space for fixed-position header*/
}


main {
    width: 100%;
    height: 80svh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weatherwidget-io {
    min-height: 120px;
}

input {
    margin: 1rem;
    padding: 12px 48px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    border: 3px solid white;
    border-radius: 5rem;
    color: white;
}

.favorites ul {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

li {
    padding: 1rem;
}


/* Main Background */

body {
    background-color: var(--main-bg-color);
}


/* Site-wide styles */

.big-heading {
    font-size: 1.5rem;
    font-family: var(--primary-header-font);
    margin-bottom: 1rem;
}

.padding {
    height: 1000px;
    max-height: 50%;
}

.weatherwidget-io {
    width: 90%;
    max-width: 900px;
}
